<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kexin.system.dao.SecondToSixteenDao">
   <insert id="addSixTeenNumber" parameterType="com.kexin.system.entity.SecondToSixteenEntity">
      insert into secondtosixteen values(#{id},#{secondSystem},#{secondNumber},#{sixTeenSystem})
   </insert>
</mapper>